{% load static %}
{% load django_tables2 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train System - Details</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'dbmsops/favicon.png' %}"/>
</head>
<body>
        {% include "dbmsops/navbar.html" %}
        <div class="container-sm mt-5 ps-5 pe-5 p-lg-0">
            <div class="row mb-3">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/reports">Reports</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Details</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ member_and_query.member_name }}</h5>
                        <p><strong>Query:</strong> {{ member_and_query.query }};</p>
                    </div>
                 </div>
                <div class="table-responsive text-center">
                    {% render_table tb_data %}
                </div>
            </div>
        </div>
    <script type="text/javascript" src="{% static 'dbmsops/js/addPaginationStyle.js' %}"></script>
    <script  type="text/javascript" src="{% static 'dbmsops/js/formValidation.js' %}"></script>
</body>
</html>