
{% load django_tables2 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train System - Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
        {% include "dbmsops/navbar.html" %}
        <div class="container-sm mt-5 ps-5 pe-5 p-lg-0">
            <div class="row mb-3">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/reports">Reports</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Details</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ member_and_query.member_name }}</h5>
                        <p><strong>Query:</strong> {{ member_and_query.query }};</p>
                    </div>
                 </div>
                <div class="table-responsive text-center">
                    <!-- {% render_table tb_data %} -->
                </div>
            </div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <script>
      const ulPagination = document.querySelector('.pagination'); 
      ulPagination.classList.add('justify-content-center');
      ulPagination.classList.add('pagination-sm');
      const listTags = ulPagination.children;
      for(let i=0; i<listTags.length; i++){
        listTags[i].classList.add('page-item');
        listTags[i].children[0].classList.add('page-link')
      }
    </script>
</body>
</html>