{% load static %}
{% load django_tables2 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Train System - Home</title>
</head>
<body>
    {% include "dbmsops/navbar.html" %}
    <div class="container-sm mt-5 ps-5 pe-5 p-lg-0">
      <div class="row mb-3">
        <h3>Insert Data</h3><hr>
      </div>
      <div class="row align-items-center text-center justify-content-md-center gx-5">
        <div class="col-lg-5 col-md-12 text-center align-items-center mb-3">
          <div class="row">
              <label for="table-selection"><h5>Select a Table</h5></label>
              <select id="table-selection" class="form-select" aria-label="Select database table name">
                {% for id, tb_details in db_tables.items %}
                  <option value={{ forloop.counter }}>{{ tb_details.tb_name }}</option>
                {% endfor %}
              </select>
          </div>
          <div class="row justify-content-center mt-3">
            <div class="card">
              <div class="card-body" id="table-schema">
                <h5 class="card-title mb-4">Table Schema</h5>
                  {% for obj in db_tables.values %}
                    {% if forloop.counter == 1 %}
                      {{ obj.tb_name }}{{ obj.tb_fields }}
                    {% endif %}
                  {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-auto align-items-center" id="insert-data-entry-form">
          {% include 'dbmsops/forms/passenger_form_form.html' %}
        </div>
      </div>
      <div class="row mt-3 mb-5">
        <div class="col">
          <div class="table-responsive">
            {% if passenger_tb_rows|length == 0 %}
            <div class="alert alert-primary" role="alert">
              No data to display
            </div>
            {% else %}
              {% render_table passenger_tb_rows %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <script  type="text/javascript" src="{% static 'dbmsops/js/formValidation.js' %}"></script>
    <script type="text/javascript" src="{% static 'dbmsops/js/addPaginationStyle.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'dbmsops/js/ajaxRequest.js' %}"></script>
</body>
</html>