{% load static %}
{% load django_tables2 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Train System - {{ tb_name.capitalize }} Forms</title>
</head>
<body>
    {% include "dbmsops/navbar.html" %}
    <div class="container-sm mt-5 ps-3 pe-3 p-lg-0">
        <div class="row mb-3">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Back to Selection</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Data Entry</li>
                </ol>
            </nav>
        </div>
        <div class="row mb-3">
            <h3>Insert Data</h3>
            <hr>
        </div>
        <div class="row justify-content-center mt-3 text-center">
            <div class="card">
              <div class="card-body" id="table-schema">
                <h5 class="card-title mb-4">Table Schema</h5>
                    {{ tb_schema }}
              </div>
            </div>
        </div>
        <div class="row mt-3 justify-content-center text-center">
            {% if form_submission_error != 'None' %}
                <div class="alert alert-danger" role="alert">
                    <h5>Insert Unsuccessful!</h5> 
                    <p>{{ form_submission_error }}</p>
                </div>
            {% endif %}
            
            {% if tb_name == 'passenger' %}
                {% include "dbmsops/forms/passenger_form.html" %}
            {% elif tb_name == 'ticket' %}
                {% include "dbmsops/forms/ticket_form.html" %}
            {% elif tb_name == 'stop' %}
                {% include "dbmsops/forms/stop_form.html" %}
            {% elif tb_name == 'station' %}
                {% include "dbmsops/forms/station_form.html" %}
            {% elif tb_name == 'trip' %}
                {% include "dbmsops/forms/trip_form.html" %}
            {% elif tb_name == 'train' %}
                {% include "dbmsops/forms/train_form.html" %}
            {% elif tb_name == 'personnel' %}
                {% include "dbmsops/forms/personnel_form.html" %}
            {% elif tb_name == 'address' %}
                {% include "dbmsops/forms/address_form.html" %}
            {% else %}
            <div class="alert alert-danger" role="alert">
                <h5>Something went wrong!</h5> 
            </div>
            {% endif %}
        </div>
        <div class="row mt-4 mb-5">
            <div class="col">
                <div class="table-responsive" id="dropdown-selection-table-data">
                    {% render_table tb_data %}
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'dbmsops/js/addPaginationStyle.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <script  type="text/javascript" src="{% static 'dbmsops/js/formValidation.js' %}"></script>
</body>
</html>