<div class="card">
    <div class="card-body">
    <h5 class="card-title mb-3">Input Data</h5>
    <form class="needs-validation" action="/table/scheduledon" method="post" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-6 col-sm-12 mb-3">
                <label for="validationCustom01">Station ID</label>
                <input type="number" class="form-control"
                    min="1" max="100" name="ScheduledOn_stationID" required>  
                <div id="validationCustom01" class="form-text">Should be inclusive of 1-100</div>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a valid station ID
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 mb-3">
                <label for="validationCustom02">Trip ID</label>
                <input type="number" class="form-control"
                    min="1" max="100" name="ScheduledOn_tripID" required>  
                <div id="validationCustom02" class="form-text">Should be inclusive of 1-100</div>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a valid trip ID
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 mb-3">
                <label for="validationCustom03">Date Time</label>
                <input type="datetime-local" name="Scheduled_dateTime" class="form-control"
                    aria-label="Date Time" required>                
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a valid date time
                </div>   
            </div>
        </div>
        <div class="row-auto mt-3">
            <button type="submit" class="btn btn-primary" onclick="validateForm()">Insert Data</button>
        </div>
    </form>
</div>