<p> {{ tb_schema }}</p>
<break/>
{% load static %}
<div class="row">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-3">Input Data</h5>
        <form class="needs-validation" action="/" method="post" novalidate>
            {% csrf_token %}
            <div class="row">
              <div class="col-lg-4 col-sm-12 mb-3">
                <label for="validationCustom01">Expiration Date</label>
                <input type="date" name="Ticket_expirationDate" class="form-control" value="2018-07-22" 
                    min="2004-01-01" max="2018-12-31" aria-label="Expiration Date" required>                
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                  Please provide a expiration date
                </div>
              </div>
              <div class="col-lg-4 col-sm-12 mb-3">
                <label for="validationCustom02">Fare($)</label>
                <input type="number" step="0.01" max="150.0" min="2.0" class="form-control" 
                  name="Ticket_Fare" required>
                <div id="validationCustom02" class="form-text">Should be inclusive of 2-150</div>
                <div class="valid-feedback">
                    Looks good!
                </div>
              </div>
              <div class="col-lg-4 col-sm-12 mb-3">
                <label for="validationCustom03">isValid</label>
                <div class="card">
                  <div class="card-body">
                    <div class="form-check">
                      <label class="form-check-label" for="flexRadioDefault1">
                        True
                      </label>
                      <input class="form-check-input" value="True" type="radio" 
                        name="Ticket_isValid" id="flexRadioDefault1" checked>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label" for="flexRadioDefault2">
                        False
                      </label>
                      <input class="form-check-input" value="False" type="radio" 
                        name="Ticket_isValid" id="flexRadioDefault2">
                    </div>   
                  </div>
                </div> 
                <div id="validationCustom03" class="form-text">Select if a ticket is valid or not</div>         
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                  Please make a valid selection
                </div>
              </div>
            </div>
            <div class="row-auto mt-3">
                <button type="submit" class="btn btn-primary" onclick="validateForm()">Insert Data</button>
            </div>
        </form>
    </div>
</div>